@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #cont {
      height: fit-content;
    }
  }

  @media screen and (max-width: 550px) {
    .nav__hamburger {
      display: flex;
    }
    .nav__menu {
      position: absolute;
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.2);
      top: -15rem;
      width: 100%;
      transition: all ease-in-out 0.4s;
    }
    .nav {
      flex-direction: column;
      align-items: flex-start;
    }
    .nav__menu ul {
      flex-direction: column;
      width: 100%;
      padding: 2rem 0 0.6rem;
    }
    .nav__menu ul li {
      text-align: center;
    }
    .nav__menu ul li a {
      padding: 0.5rem;
    }
    .nav__menu {
      z-index: -1;
    }
    .nav__menu.active {
      top: 0;
    }
    .nav__hamburger.active :nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
  
    .nav__hamburger.active :nth-child(2) {
      opacity: 0;
    }
  
    .nav__hamburger.active :nth-child(3) {
      transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
    }
  }
  
  @media screen and (max-width: 1200px) {
  
    #expe1,
    .expe1-details-container {
      margin-top: 1rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .cont-info-upper-container,
    .btn-con {
      flex-wrap: wrap;
    }
    .cont-info-container {
      margin: 0;
    }
    .cont-info-container p,
    li a {
      font-size: 1rem;
    }
    .expe1-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }

    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .t1 {
      font-size: 2rem;
    }
    .t1-container {
      text-align: justify;
    }

  }
  
